.footstyle43156{ font-size: 9pt ;}
.votestyle43156{ font-weight: bold; font-size: 11pt; color: #2b2b2b; font-family: 宋体 ;}
.navstyle43156{ font-size: 9pt; color: #222222; font-family: 宋体; text-decoration: none ;}
.pagestyle43156{ font-size: 9pt; color: #222222; font-family: 宋体 ;}
.authorstyle43156{ font-size: 9pt ;}
.contentstyle43156{ font-size: 9pt; line-height: 150% ;}
.titlestyle43156{ font-weight: bold; font-size: 12pt ;}
.contextstyle43156{ font-size: 9pt; color: #222222; font-family: 宋体; text-decoration: none ;}
.votetitlestyle43156{ font-size: 9pt; color: #2b2b2b; font-family: 宋体 ;}
.timestyle43156{ font-size: 9pt ;}
.winstyle43156{ font-size: 9pt; font-family: 宋体 ;}
.c43156_content span{
    font-size:100%;}